<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Mi primer documento en HTML</title>
</head>

<body>
    <article class="contenedor01">

        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus labore aspernatur fugit doloribus sit
            molestiae omnis sint corrupti nemo quia impedit, provident molestias iusto hic non. Odio ullam rem numquam.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid expedita in vitae cupiditate nostrum eius
            voluptas accusamus provident sint maiores, recusandae consequatur a iure ratione, eligendi natus excepturi
            commodi. Necessitatibus?</p>

    </article>
    <article class="contenedor02">

        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus labore aspernatur fugit doloribus sit
            molestiae omnis sint corrupti nemo quia impedit, provident molestias iusto hic non. Odio ullam rem numquam.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid expedita in vitae cupiditate nostrum eius
            voluptas accusamus provident sint maiores, recusandae consequatur a iure ratione, eligendi natus excepturi
            commodi. Necessitatibus?</p>

    </article>

</body>

</html>